*:not(body):not(html) {
  box-sizing: border-box;
}

body {
  /*background: black;*/
  font-size: 4vw;
  font-family: 'Slabo 27px', serif;
  text-transform: uppercase;
}

.description {
  text-transform: none;
}

.cf:after {
  content: "";
  display: block;
  clear: both;
}

.container {
  width: 100vh;
  margin: 2.5vh 2.5vw 2.5vh 2.5vw;
}

ul {
  list-style: none;
}

@media only screen and (max-width: 500px) {
  body {
    background: black;
  }

  .nav {
    width: 90vw;
    height: 14vh;
  }

  .nav h3 {
    background: white;
    font-size: 4vw;
    font-family: serif;
    width: 90vw;
    height: 8vh;
    display: table-cell;
    vertical-align: middle;
    padding: 0 0 0 5vw;
    margin-top: 2.5vh;
  }

  .nav h3:first-letter {
    font-size: 5vw;
  }

  .nav span {
    font-size: 5vw;
  }

  .nav ul {
    background: lightgrey;
    display: inline-block;
    font-size: 2.5vw;
    float: left;
    width: 90vw;
    /*height: 4.5vh;*/
    margin: 0;
    padding: 0 0 1vh 5vw;
  }

  li {
    float: left;
    padding: 1.25vh 2.5vw 0 0;
    font-size: 2.5
  }

  .location {
    width: 100%;
    height: 12vh;
    padding-left: 5vw;
    display: table-cell;
    vertical-align: middle;
  }

  .location h3, .location h5 {
    padding: 0;
    margin: 0;
    color: white;
  }

  .location h3 {
    padding-bottom: 0.5vw;
    letter-spacing: 0.5vw;
  }

  .location h5 {
    letter-spacing: 0.25vw;
  }

  .hero {
    width: 90vw;
  }

  .hero img {
    width: 100%;
  }

  .hero h4, .press h4 {
    background: white;
    margin-top: -1.25vw;
    padding: 2vh 0 2vh 5vw;
    font-size: 2.25vw;
  }

  .press {
    width: 90vw;
    height: 12vh;
    margin: 2vh 0 0 0;
  }

  .description {
    background: white;
    margin-top: -5vw;
    width: 90vw;
    height: 27.5vw;
    font-size: 3.25vw;
    letter-spacing: 0.15vw;
  }

  .description p {
    /*background: orange;*/
    padding: 3vh 3vw 3vh 3vw;
  }
}

@media only screen and (min-width: 501px) and (max-width: 800px) {
  body {
    background: white;
  }

  .hero {
    background: gold;
    width: 95vw;
    height: 60vh;
    position: relative;
    margin: 0;
    z-index: -1;
    /*top: 2.5vh;
    left: 2.5vw;*/
  }

  .hero img {
    position: absolute;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .hero h4 {
    display: none;
  }

  .location {
    /*background: beige;*/
    width: 25vw;
    height: 6vh;
    color: white;
    text-shadow: 0.5vh 0.5vw 0.5vh black;
    font-size: 2.5vw;
    position: absolute;
    z-index: 1;
    top: 50vh;
    left: 6vw;
  }

  .location h3 {
    /*background: orange;*/
    width: 100%;
    height: 60%;
    font-family: serif;
    font-weight: normal;
    letter-spacing: 0.25vw;
    margin: 0;
    padding: 0;
  }

  .location h5 {
    /*background: lightblue;*/
    width: 100%;
    height: 40%;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 2vw;
    margin: 0;
    padding: 0;
  }

  .container {
    position: relative;
  }

  .nav {
    background: rgba(255, 255, 255, 0.8);
    width: 23.5vw;
    height: 20vw;
    position: absolute;
    top: 5vh;
    left: 6vw;
    z-index: 1;
  }

  .nav h3 {
    /*background: purple;*/
    width: 100%;
    height: 10%;
    font-size: 2vw;
    margin-left: 2.5vw;
  }

  .nav ul {
    width: 100%;
    height: 90%;
    font-size: 1.5vw;
    margin: 0;
    padding: 0 0 0 2.5vw;
  }

  .press {
    background: navy;
    color: white;
    font-size: 3vw;
    width: 45.5vw;
    height: 30vh;
    float: left;
    position: relative;
    margin: 2vh 1vw 0 0;
  }

  .press h4 {
    width: 80%;
    position: absolute;
    top: 35%;
    transform: translate(13%, -50%);
  }

  .description {
    background: navy;
    color: white;
    font-size: 2.5vw;
    width: 45.5vw;
    height: 30vh;
    float: right;
    position: relative;
    margin: 2vh 23vw 0 1vw;
  }

  .description p {
    width: 80%;
    position: absolute;
    top: 35%;
    transform: translate(13%, -50%);
  }
}
